.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.container > :first-child {
  margin: 0;
  color: var(--main-color);
  font-family: var(--ff-primary-semi-bold);
  font-size: var(--fs-base);
  margin-bottom: 8px;
}

.container > :nth-child(2) {
  margin: 0;
  margin-left: 5px;
  color: var(--text-gray-color);
  font-family: var(--ff-primary-med);
  font-size: var(--fs-base);
}
